extends layout

block content
  h1= title
  .servce
    p Service1
    input.service_val
    button.btn_service_start 启动
    button.btn_service_stop 暂停
    button.btn_service_delete 删除
    button.btn_service_query 查询 
    br
    pre.service_out
  .servce
    p Service2
    input.service_val
    button.btn_service_start 启动
    button.btn_service_stop 暂停
    button.btn_service_delete 删除
    button.btn_service_query 查询
    br
    pre.service_out
  .servce
    p Service3
    input.service_val
    button.btn_service_start 启动
    button.btn_service_stop 暂停
    button.btn_service_delete 删除
    button.btn_service_query 查询
    br
    pre.service_out
  .servce
    p Service4
    input.service_val
    button.btn_service_start 启动
    button.btn_service_stop 暂停
    button.btn_service_delete 删除
    button.btn_service_query 查询
    br
    pre.service_out
  script(src="javascripts/jquery.js")
  script(src="javascripts/index.js")